.toQrcode {
    width: 200px;
    padding: 20px;
    margin:0 auto;
}

#qrcodeContent {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #0050b3;

}

#qrcodeContent img {
    max-width: 100%;
    margin: 0 auto;
    padding:6px;
    background: #fff;
}

.toolList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.toolList .down {
    /* padding-top: 20px; */
    flex: auto;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    padding: 6px;
    border-radius: 6px;
    margin-top: 20px;
    outline: none;
    border: none;
}
.selected{
    background:#0050b3;
    color: white;
}

.showInput {
    width: 100%;
    display: none;
}
.show{
    display: block;
    animation: showDom 1s;
    
}

.input {
    width: 195px;
    border: none;
    background: none;
    outline: none;
    padding: 6px 0;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding-left: 5px;
    border-radius: 2px;
}
@keyframes showDom{
    0%{
      transform: translateX(60px);
    }
    100%{
        transform: translateX(0px);
    }
}